extends layout

block content
  #game
  .player-input#player1
    textarea
  .player-input#player2
    textarea
  .controls
    input(type='button', value='go')#go

block scripts
  script(src='/javascripts/board.js')
  script(src='/javascripts/views.js')
  script(src='/javascripts/main.js')
