extends layout

block content
  h1= title
  p Welcome to Code Game
  #game

block scripts
  script(src='/javascripts/board.js')
  script(src='/javascripts/views.js')
  script(src='/javascripts/main.js')
