body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

table.game-table

  td
    height: 40px
    width: 40px
    background-color: black

  .player
    height: 100%
    width: 100%
    background-color: red

  .trail
    height: 100%
    width: 100%
    background-color: blue
